body {
	background-color: black;
	color: #a3263a;
	  font: 1.3rem Inconsolata, monospace;font-size: 40px;font-weight: bold;
	text-align: center;
	text-shadow: 0 0 5px #a3263a;
	width: 100%;
	opacity: 1;
}
p {
	font-size: 20px;
}




